.z{border:0 solid black;
    border-radius:25px 50px;
    text-decoration:none !important;
    color:white!important;
    margin:4px;

}
/*#btn{
    background-color: darkgrey;
}*/

#name{background-color: black;
    text-align: center;
    width:100%;
    font-size: 40px;
    color:white;
    font-weight: bold;
    font-family: 'Fredericka the Great', cursive;
}
a:hover {

    font-weight: bolder;

    background-color:darkgrey!important;
}
a:active {margin:0px;
    font-size:27px;
}
#me,#ct,#ls,#rk,#on{position:relative;
    top:7px;

    text-align:center;
}
.container{
    margin:0 auto;
    justify-content: center;
    width:100%;
}
h4{ text-align: center;
    font-weight: bold;
    font-family: 'Fredericka the Great', cursive;
}
.nav{  top:0;
    text-align:center;
    position:fixed;
    display:flex;
    flex-wrap: wrap;justify-content: center;
    width:100%;
    font-weight: bold;
    background-color: black;
    font-family: 'Cambo', serif;

}
#end{background-color: aliceblue;
    font-family: Arial Black;

}
ul{ list-style-type: none;}
#end{ text-align:center;

}
li{ <!--font-family: Georgia;-->
    font-family: 'Cabin Sketch', cursive;

}
#edu,#work{font-size: 20px;
    text-align: center;
}
#about-me{ display:flex; flex-wrap:wrap;font-size: 20px;
    justify-content: center; text-align: center;
}

img { width:40%;
    border-radius: 50%;
    margin: 0 auto;
}

#skills{text-align: center;font-size: 20px;
}
.main{ position:absolute;
    top:40px;
    overflow-y:auto;
    width:100%;
    z-index:-1;
    background-color: darkcyan;
}
.a{ text-align:center;
    font-family: 'Lateef', cursive;
    display:inline-block;
    width:50%;
    height:50%;
}

@media(min-width:480px) and (max-width:770px) {
    .nav {
        font-size: 20px;
        left:-1000px;
        height:60px;
    }
    .container{
        top:0;
    }
    /*.container{*/
        /*position:fixed;*/
        /*top:0px;*/
    /*}*/
.main{
    top:0px;
}
    #name{
        font-size:30px;
    }


}
@media (max-width:360px){
    #end{
        font-size:10px;
        background-color: aliceblue;
    }
    .nav{
        left:-1000px;top:-1000px;

    }
    .main{
        background-color: darkcyan;
        top:0;
    }

    #btn{left:-1000px;

    }
    #name{
        font-size:25px;
    }
}

@media (max-width:480px) and (min-width:360px){
    .nav{font-size:20px;
    left:-1000px;
        height:100px;top:-1000px;

    }
    .main{
        background-color: darkcyan;
        top:0px;
    }
    #btn{left:-1000px;

    }
    #end{background-color: aliceblue;
        font-size:15px;
    }
    .container{
        position:fixed;
        top:0px;

    }
    #name{
       font-size:30px;
    }

}


@media (min-width:770px)
{   .nav{ font-size:20px;
     height:50px;
width:100%;

    }
    .main{ display:flex;
        flex-wrap: wrap;
        top:50px;
    }
    #about-me{height:48%;
        display:inline-block;
        width:48%;
    }
    #edu{ height:48%;
        display:inline-block;
        width:48%;
    }
    #work{ height:48%;
        display:inline-block;
        width:48%;
    }
    #skills{ height:48%;
        display:inline-block;
        width:48%;
    }
    #end{ display:inline-block;
        width:100%;

    }
    h4{
        font-size:30px;
    }
    .container{
        width:100%;
    }
    /*#btn{*/
        /*left:-1000px;*/
    /*}*/
}
